<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='../css/index.css' />
</head>



<body>
    <h1>Typekit</h1>
    <h2>The note taking app</h2>
    <h3>no bullshit</h3>
    <form action="/signup" method="POST">
        <button id="signup">Sign up / Login</button>
    </form>

    <button id="takenote"><a href="/note/<%= noteId %>">Add a note</a></button>

    <!-- <form action="/note" method="POST">
        <button id="takenote" name="note">Take a note</button>
    </form> -->

</body>

</html>