<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='../css/signup.css' />
</head>

<body>
    <h2>Typekit</h2>

    <form id="form1">
        <h3>Sign up</h3>
        Name:<input type="text" id="name"><br/>
        Email:<input type="text" id="email"><br/>
        Username:<input type="text" class="username"><br/>
        Password:<input type="password" class="password"><br/>
        Confirm <br/>password:<input type="password" id='confirmpassword'><br/>
        <button id="account">Create account</button><br/>
    </form>
    <form id="form2">
        <h3>Login</h3>
        Username<input type="text" class="username"><br/>
        Password<input type="password" class="password"><br/>
        <button id="login"> Login</button>
    </form>
</body>

</html>