<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='../css/signup.css' />
</head>

<body>
    <h2>Typekit</h2>

    <form id="form1" method="POST" action='/register'>
        <h3>Sign up</h3>
        Name:<input type="text" id="name" name="name"><br/>
        Email:<input type="text" id="email" name="email"><br/>
        Username:<input type="text" class="username" name="username"><br/>
        Password:<input type="password" class="password" name="password"><br/>
        Confirm <br/>password:<input type="password" id='confirmpassword' name="confirmpassword"><br/>
        <button id="account">Create account</button><br/>
    </form>
    <p>
             Login  OR Register with
            <a class='google-btn' href='/auth/google'>
                <h3>Google+</h3>
            </a>
        </p>
    <form id="form2" method="POST" action='/login'>
        <h3>Login</h3>
        Username<input type="text" class="username" name="username"  ><br/>
        Password<input type="password" class="password" name="password"><br/>
        <button id="login"> Login</button>
    </form>
    
    <%if (success_message != '') { %>
        <div class="alert alert-success">
            <%= success_message %>
        </div>
    <% } %>
    <%if (error_message != '') { %>
        <div class="alert alert-danger">
            <%= error_message %>
        </div>
    <% } %>
    <%if (error != '') { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>
    
</body>

</html>